section
    section
        h2 Jogos feitos com Pygame
        p
            a(href="https://www.pygame.org/tags/all" target="_blank") https://www.pygame.org/tags/all
    section
        h2 Outros Projetos Legais
        p
            a(href="https://github.com/atmosmaciel/guide-of-study-and-game-development" target="_blank") https://github.com/atmosmaciel/guide-of-study-and-game-development
            