- var notes = 'O que é o Pygame?'
- var sdl_notes = 'Falando sobre SDL.'

section
  section(data-notes=notes)
    img(src="img/pygame_logo.gif", alt="")
    small
      a(href="http://www.pygame.org/docs/logos.html" target="_blank") http://www.pygame.org/docs/logos.html
  section(data-notes=sdl_notes)
    p O Pygame é uma biblioteca de extensão do Python que envolve a biblioteca SDL e seus auxiliares.
    p
      ol
        li.fragment SDL (Simple DirectMedia Layer)
        li.fragment Animações & Games
