- var notes = 'Apresentação sobre a palestra.'

section(data-notes=notes)
  h2 Pygame
  p A jornada de um desertor
  p
    a(href="https://github.com/atmosmaciel" target="_blank") https://github.com/atmosmaciel
