section
  section
    h1 Pygame likes Desktop
  section
    img(src="img/pyglet.png", alt="")
    p
      a(href="https://bitbucket.org/pyglet/pyglet/wiki/Home" target="_blank") https://bitbucket.org/pyglet/pyglet/wiki/Home
  section
    img(src="img/kivy-icon.png", alt="")
    p
      a(href="kivy.org" target="_blank") kivy.org
  section
    img(src="img/Ren'Py-logo.png", alt="")
    p
      a(href="renpy.org" target="_blank") renpy.org
  