section
  section
    h2 About Me
    p  https://atmosmaciel.github.io
  section
    h3 Atmos Maciel
    p
      img(src="img/atmosmaciel.jpg", alt="")
    p
      up
        li.fragment Graduado em Ciência da Computação
        li.fragment Web Developer (Backend)
        li.fragment CTO - HEPTUM & Impacto Maker
        li.fragment CTO - Dona Rita
  section
    h3 Comunidades Locais
    p
      img(src="img/phpma.png", alt="")
      img(src="img/pugma.png", alt="")
    p
      up
        li.fragment GDG | Haskell | Science PUB
