- var notes = 'You can enter anything you want here. Just add data-notes to the section.'

section(data-notes=notes)
  //- img(src="img/qualy-presenter.png", alt="")
  h2 Pygame
  p A jornada de um desertor
  p
    a(href="https://github.com/atmosmaciel" target="_blank") https://github.com/atmosmaciel
