- var notes = 'Eventos essenciais'
- var eventos = 'Surfaces: são superfícies nas quais se desenha'
section(data-notes=notes)
    section(data-notes=eventos)
        h3 Eventos essenciais
        p
            ol
                li.fragment Surface
                li.fragment Display
                li.fragment Draw
                li.fragment Image
                li.fragment Event
                li.fragment Font
                li.fragment Clock
    section
        h3 Detecções e Colisões
        p Sprite, spritecollide, groupcollide
    