- var notes = 'You can enter anything you want here. Just add data-notes to the section.'
section(data-notes=notes)
  section
    img(src="img/pygame_logo.gif", alt="")
    small
      a(href="http://www.pygame.org/docs/logos.html" target="_blank") http://www.pygame.org/docs/logos.html
  section
    p O Pygame é uma biblioteca de extensão do Python que envolve a biblioteca SDL e seus auxiliares.
    p
      ol
        li.fragment SDL (Simple DirectMedia Layer)
        li.fragment Animações & Games
